In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing

In [2]:
df = pd.read_csv('Crime_data.csv')

In [3]:
df.head()

         Date   Category                   Thana   District DayOfWeek  Season
0  02-03-2018     Murder            Belabo Thana  Narsingdi    Friday  Summer
1  29-04-2017  Gang rape            Rajoir Thana  Madaripur  Saturday  Summer
2  29-06-2017     Murder           Ghatail Thana    Tangail  Thursday  Summer
3  01-07-2017     Murder  Keraniganj Model Thana      Dhaka  Saturday   Rainy
4  25-12-2017     Murder         Manikganj Thana  Manikganj    Monday  Winter

In [4]:
print(df['Category'].unique())

['Murder' 'Gang rape' 'Robbery' 'Violence Against Women' 'Kidnap']

In [5]:
print((df['Thana'].unique()))

['Belabo Thana' 'Rajoir Thana' 'Ghatail Thana' 'Keraniganj Model Thana'
 'Manikganj Thana' 'Ashulia Thana' 'Joydebpur Thana' 'Kapasia Thana'
 'Sonargaon Thana' 'Bhairab Thana' 'Kotalipara Thana' 'Munshiganj Thana'
 'Bondor Thana' 'Rupganj Thana' 'Tongi Thana' 'Bajitpur Thana'
 'Savar Model Thana' 'Madhabdi Thana' 'Saltha Thana' 'Narsingdi Thana'
 'Siddhirganj Thana' 'Tarail Thana' 'Boalmari Thana' 'Mirzapur Thana'
 'Sakhipur Thana' 'Madhupur Thana' 'Palash Thana' 'Shibpur Model Thana'
 'Basail Thana' 'Narayanganj Model Thana' 'Araihazar Thana'
 'Tangail Thana' 'Sreepur Thana' 'South Keraniganj Thana'
 'Narsingdi Model Thana' 'Madaripur Thana' 'Naria Thana' 'Itna Thana'
 'Sirajdikhan Thana' 'Louhajong Thana' 'Raipura Thana'
 'Charbhadrasan Thana' 'Nikli Thana' 'Singair Thana' 'Kotwali Thana'
 'Goshairhat Thana' 'Bhanga Thana' 'Kuliarchar Thana' 'Kaliganj Thana'
 'Dasar Thana' 'Kashiani Thana' 'Sreenagar Thana' 'Baliakandi Thana'
 'Kaliakair Thana' 'Alfadanga Thana' 'Mithamain Thana' 'Kalukhali Thana'
 'Dhamrai Thana' 'Nawabganj Thana' 'Bhedarganj Thana'
 'Kishoreganj Model Thana' 'Rajbari Thana' 'Gopalpur Thana'
 'Fatullah Model Thana' 'Ghior Thana' 'Pangsha Model Thana'
 'Kalihati Thana' 'Saturia Thana' 'Zajira Thana' 'Sadarpur Thana'
 'Muksudpur Thana' 'Kalkini Thana' 'Nagarkanda Model Thana'
 'Goalandaghat Thana' 'Madhukhali Thana' 'Delduar Thana' 'Gopalganj Thana'
 'Harirampur Thana' 'Bhuapur Thana' 'Monohardi Thana' 'Shibchar Thana'
 'Palong Model Thana' 'Gazaria Thana' 'Austagram Thana'
 'Katiadi Model Thana' 'Karimganj Thana' 'Dhanbari Thana' 'Pakundia Thana'
 'Hossainpur Thana' 'Tongibari Thana' 'Nagarpur Thana' 'Dohar Thana'
 'Daulatpur Thana' 'Bangabandhu Setu East Thana' 'Tungipara Thana'
 'Faridpur Thana' 'Shibaloy Thana' 'Damudya Thana']

In [6]:
lst = []
for i in df['Category'].unique():
    lst.append(i)
lst.sort()
print(lst)

['Gang rape', 'Kidnap', 'Murder', 'Robbery', 'Violence Against Women']

In [7]:
lst1 = []
count = 0
for i in df['District'].unique():
    lst1.append(i)
    count+=1
lst1.sort()
print(count)
print(lst1)

13
['Dhaka', 'Faridpur', 'Gazipur', 'Gopalganj', 'Kishoreganj', 'Madaripur', 'Manikganj', 'Munshiganj', 'Narayanganj', 'Narsingdi', 'Rajbari', 'Shariatpur', 'Tangail']

In [8]:
y = df.iloc[:, 1]
print(y.head())

0       Murder
1    Gang rape
2       Murder
3       Murder
4       Murder
Name: Category, dtype: object

In [9]:
df['Month'] = df['Date'].apply(lambda x: int(str(x)[3:5]))

In [10]:
df.head()

,Date,Category,Thana,District,DayOfWeek,Season,Month
0,02-03-2018,Murder,Belabo Thana,Narsingdi,Friday,Summer,3
1,29-04-2017,Gang rape,Rajoir Thana,Madaripur,Saturday,Summer,4
2,29-06-2017,Murder,Ghatail Thana,Tangail,Thursday,Summer,6
3,01-07-2017,Murder,Keraniganj Model Thana,Dhaka,Saturday,Rainy,7
4,25-12-2017,Murder,Manikganj Thana,Manikganj,Monday,Winter,12

In [11]:
x = df.drop(df.columns[[0,1]], axis = 1)
x.head()

                    Thana   District DayOfWeek  Season  Month
0            Belabo Thana  Narsingdi    Friday  Summer      3
1            Rajoir Thana  Madaripur  Saturday  Summer      4
2           Ghatail Thana    Tangail  Thursday  Summer      6
3  Keraniganj Model Thana      Dhaka  Saturday   Rainy      7
4         Manikganj Thana  Manikganj    Monday  Winter     12

In [12]:
type(x), type(y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [13]:
le = preprocessing.LabelEncoder()

In [14]:
df['Thana'] = le.fit_transform(df['Thana'])
df.head()
thana_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

print(thana_mapping)

{'Alfadanga Thana': 0, 'Araihazar Thana': 1, 'Ashulia Thana': 2, 'Austagram Thana': 3, 'Bajitpur Thana': 4, 'Baliakandi Thana': 5, 'Bangabandhu Setu East Thana': 6, 'Basail Thana': 7, 'Belabo Thana': 8, 'Bhairab Thana': 9, 'Bhanga Thana': 10, 'Bhedarganj Thana': 11, 'Bhuapur Thana': 12, 'Boalmari Thana': 13, 'Bondor Thana': 14, 'Charbhadrasan Thana': 15, 'Damudya Thana': 16, 'Dasar Thana': 17, 'Daulatpur Thana': 18, 'Delduar Thana': 19, 'Dhamrai Thana': 20, 'Dhanbari Thana': 21, 'Dohar Thana': 22, 'Faridpur Thana': 23, 'Fatullah Model Thana': 24, 'Gazaria Thana': 25, 'Ghatail Thana': 26, 'Ghior Thana': 27, 'Goalandaghat Thana': 28, 'Gopalganj Thana': 29, 'Gopalpur Thana': 30, 'Goshairhat Thana': 31, 'Harirampur Thana': 32, 'Hossainpur Thana': 33, 'Itna Thana': 34, 'Joydebpur Thana': 35, 'Kaliakair Thana': 36, 'Kaliganj Thana': 37, 'Kalihati Thana': 38, 'Kalkini Thana': 39, 'Kalukhali Thana': 40, 'Kapasia Thana': 41, 'Karimganj Thana': 42, 'Kashiani Thana': 43, 'Katiadi Model Thana': 44, 'Keraniganj Model Thana': 45, 'Kishoreganj Model Thana': 46, 'Kotalipara Thana': 47, 'Kotwali Thana': 48, 'Kuliarchar Thana': 49, 'Louhajong Thana': 50, 'Madaripur Thana': 51, 'Madhabdi Thana': 52, 'Madhukhali Thana': 53, 'Madhupur Thana': 54, 'Manikganj Thana': 55, 'Mirzapur Thana': 56, 'Mithamain Thana': 57, 'Monohardi Thana': 58, 'Muksudpur Thana': 59, 'Munshiganj Thana': 60, 'Nagarkanda Model Thana': 61, 'Nagarpur Thana': 62, 'Narayanganj Model Thana': 63, 'Naria Thana': 64, 'Narsingdi Model Thana': 65, 'Narsingdi Thana': 66, 'Nawabganj Thana': 67, 'Nikli Thana': 68, 'Pakundia Thana': 69, 'Palash Thana': 70, 'Palong Model Thana': 71, 'Pangsha Model Thana': 72, 'Raipura Thana': 73, 'Rajbari Thana': 74, 'Rajoir Thana': 75, 'Rupganj Thana': 76, 'Sadarpur Thana': 77, 'Sakhipur Thana': 78, 'Saltha Thana': 79, 'Saturia Thana': 80, 'Savar Model Thana': 81, 'Shibaloy Thana': 82, 'Shibchar Thana': 83, 'Shibpur Model Thana': 84, 'Siddhirganj Thana': 85, 'Singair Thana': 86, 'Sirajdikhan Thana': 87, 'Sonargaon Thana': 88, 'South Keraniganj Thana': 89, 'Sreenagar Thana': 90, 'Sreepur Thana': 91, 'Tangail Thana': 92, 'Tarail Thana': 93, 'Tongi Thana': 94, 'Tongibari Thana': 95, 'Tungipara Thana': 96, 'Zajira Thana': 97}

In [15]:
le1 = preprocessing.LabelEncoder()
df['District'] = le.fit_transform(df['District'])
district_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

df.head(10)

         Date   Category  Thana  District DayOfWeek  Season  Month
0  02-03-2018     Murder      8         9    Friday  Summer      3
1  29-04-2017  Gang rape     75         5  Saturday  Summer      4
2  29-06-2017     Murder     26        12  Thursday  Summer      6
3  01-07-2017     Murder     45         0  Saturday   Rainy      7
4  25-12-2017     Murder     55         6    Monday  Winter     12
5  17-07-2017    Robbery      2         0    Monday   Rainy      7
6  14-08-2017     Murder     35         2    Monday   Rainy      8
7  18-12-2017     Murder     35         2    Monday  Winter     12
8  05-02-2018     Murder     41         2    Monday  Winter      2
9  06-11-2017     Murder     88         8    Monday  Winter     11

In [16]:
district_mapping

{'Dhaka': 0,
 'Faridpur': 1,
 'Gazipur': 2,
 'Gopalganj': 3,
 'Kishoreganj': 4,
 'Madaripur': 5,
 'Manikganj': 6,
 'Munshiganj': 7,
 'Narayanganj': 8,
 'Narsingdi': 9,
 'Rajbari': 10,
 'Shariatpur': 11,
 'Tangail': 12}

In [17]:
df['DayOfWeek'] = le.fit_transform(df['DayOfWeek'])
df.head(10)
week_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

print(week_mapping)

{'Friday': 0, 'Monday': 1, 'Saturday': 2, 'Sunday': 3, 'Thursday': 4, 'Tuesday': 5, 'Wednesday': 6}

In [18]:
df['Season'] = le.fit_transform(df['Season'])
season_mapping = dict(zip(le.classes_, le.transform(le.classes_)))

print(season_mapping)

{'Rainy': 0, 'Summer': 1, 'Winter': 2}

In [19]:
df.head(10)

         Date   Category  Thana  District  DayOfWeek  Season  Month
0  02-03-2018     Murder      8         9          0       1      3
1  29-04-2017  Gang rape     75         5          2       1      4
2  29-06-2017     Murder     26        12          4       1      6
3  01-07-2017     Murder     45         0          2       0      7
4  25-12-2017     Murder     55         6          1       2     12
5  17-07-2017    Robbery      2         0          1       0      7
6  14-08-2017     Murder     35         2          1       0      8
7  18-12-2017     Murder     35         2          1       2     12
8  05-02-2018     Murder     41         2          1       2      2
9  06-11-2017     Murder     88         8          1       2     11

In [20]:
y.head()

0       Murder
1    Gang rape
2       Murder
3       Murder
4       Murder
Name: Category, dtype: object

In [21]:
y = le.fit_transform(y)
cat = dict(zip(le.classes_, le.transform(le.classes_)))
cat

{'Gang rape': 0,
 'Kidnap': 1,
 'Murder': 2,
 'Robbery': 3,
 'Violence Against Women': 4}

In [23]:
x = df.drop(df.columns[[0,1,5]], axis = 1)
x.head()

   Thana  District  DayOfWeek  Month
0      8         9          0      3
1     75         5          2      4
2     26        12          4      6
3     45         0          2      7
4     55         6          1     12

In [24]:
xx = np.asarray(x)
xx.shape, y.shape

((1448, 4), (1448,))

In [26]:
y

array([2, 0, 2, ..., 1, 3, 2])

In [ ]:
x_list1 = []
y_list1 = []

In [ ]:
count = 0
for i in range(len(y)):
    if y[i] == 1:
        x_list1.append(xx[i,:])
        y_list1.append(y[i])
        count+=1
        if count == 28:
            break
            
print(count)
print(len(x_list1), len(y_list1))

In [ ]:
y_new = np.asarray(y_list1)
y_new.shape

In [ ]:
import collections
a = collections.Counter(y_new)
a

In [ ]:
x_new = np.asarray(x_list1)
x_new.shape

In [ ]:
x_new.shape, y_new.shape

In [ ]:
y_new[23:30]

In [ ]:
np.save('test_x_new.npy', x_new)
np.save('test_y_new.npy', y_new)