In [1]:
import numpy as np

In [2]:
x = np.load('test_y.npy')

In [3]:
x.shape

(145, 5)

In [4]:
x = x.argmax(axis = 1)
x.shape

(145,)

In [6]:
import collections
y = collections.Counter(x)

In [7]:
y

Counter({2: 97, 1: 8, 0: 12, 3: 18, 4: 10})

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('Crime_data.csv')
df.head()

         Date   Category                   Thana   District DayOfWeek  Season
0  02-03-2018     Murder            Belabo Thana  Narsingdi    Friday  Summer
1  29-04-2017  Gang rape            Rajoir Thana  Madaripur  Saturday  Summer
2  29-06-2017     Murder           Ghatail Thana    Tangail  Thursday  Summer
3  01-07-2017     Murder  Keraniganj Model Thana      Dhaka  Saturday   Rainy
4  25-12-2017     Murder         Manikganj Thana  Manikganj    Monday  Winter