In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Crime_data.csv')
df.head()

         Date   Category                   Thana   District DayOfWeek  Season
0  02-03-2018     Murder            Belabo Thana  Narsingdi    Friday  Summer
1  29-04-2017  Gang rape            Rajoir Thana  Madaripur  Saturday  Summer
2  29-06-2017     Murder           Ghatail Thana    Tangail  Thursday  Summer
3  01-07-2017     Murder  Keraniganj Model Thana      Dhaka  Saturday   Rainy
4  25-12-2017     Murder         Manikganj Thana  Manikganj    Monday  Winter

In [4]:
x_test = np.load('test_x_new.npy')
y_test = np.load('test_y_new.npy')
x_test.shape, y_test.shape

((140, 4), (140,))

In [5]:
x_test[1,:]

array([76,  8,  6,  2])

In [6]:
y_test[1]

4

In [21]:
thana = {'Alfadanga Thana': 0, 'Araihazar Thana': 1, 'Ashulia Thana': 2, 'Austagram Thana': 3, 'Bajitpur Thana': 4, 'Baliakandi Thana': 5, 'Bangabandhu Setu East Thana': 6, 'Basail Thana': 7, 'Belabo Thana': 8, 'Bhairab Thana': 9, 'Bhanga Thana': 10, 'Bhedarganj Thana': 11, 'Bhuapur Thana': 12, 'Boalmari Thana': 13, 'Bondor Thana': 14, 'Charbhadrasan Thana': 15, 'Damudya Thana': 16, 'Dasar Thana': 17, 'Daulatpur Thana': 18, 'Delduar Thana': 19, 'Dhamrai Thana': 20, 'Dhanbari Thana': 21, 'Dohar Thana': 22, 'Faridpur Thana': 23, 'Fatullah Model Thana': 24, 'Gazaria Thana': 25, 'Ghatail Thana': 26, 'Ghior Thana': 27, 'Goalandaghat Thana': 28, 'Gopalganj Thana': 29, 'Gopalpur Thana': 30, 'Goshairhat Thana': 31, 'Harirampur Thana': 32, 'Hossainpur Thana': 33, 'Itna Thana': 34, 'Joydebpur Thana': 35, 'Kaliakair Thana': 36, 'Kaliganj Thana': 37, 'Kalihati Thana': 38, 'Kalkini Thana': 39, 'Kalukhali Thana': 40, 'Kapasia Thana': 41, 'Karimganj Thana': 42, 'Kashiani Thana': 43, 'Katiadi Model Thana': 44, 'Keraniganj Model Thana': 45, 'Kishoreganj Model Thana': 46, 'Kotalipara Thana': 47, 'Kotwali Thana': 48, 'Kuliarchar Thana': 49, 'Louhajong Thana': 50, 'Madaripur Thana': 51, 'Madhabdi Thana': 52, 'Madhukhali Thana': 53, 'Madhupur Thana': 54, 'Manikganj Thana': 55, 'Mirzapur Thana': 56, 'Mithamain Thana': 57, 'Monohardi Thana': 58, 'Muksudpur Thana': 59, 'Munshiganj Thana': 60, 'Nagarkanda Model Thana': 61, 'Nagarpur Thana': 62, 'Narayanganj Model Thana': 63, 'Naria Thana': 64, 'Narsingdi Model Thana': 65, 'Narsingdi Thana': 66, 'Nawabganj Thana': 67, 'Nikli Thana': 68, 'Pakundia Thana': 69, 'Palash Thana': 70, 'Palong Model Thana': 71, 'Pangsha Model Thana': 72, 'Raipura Thana': 73, 'Rajbari Thana': 74, 'Rajoir Thana': 75, 'Rupganj Thana': 76, 'Sadarpur Thana': 77, 'Sakhipur Thana': 78, 'Saltha Thana': 79, 'Saturia Thana': 80, 'Savar Model Thana': 81, 'Shibaloy Thana': 82, 'Shibchar Thana': 83, 'Shibpur Model Thana': 84, 'Siddhirganj Thana': 85, 'Singair Thana': 86, 'Sirajdikhan Thana': 87, 'Sonargaon Thana': 88, 'South Keraniganj Thana': 89, 'Sreenagar Thana': 90, 'Sreepur Thana': 91, 'Tangail Thana': 92, 'Tarail Thana': 93, 'Tongi Thana': 94, 'Tongibari Thana': 95, 'Tungipara Thana': 96, 'Zajira Thana': 97}

In [16]:
[tag for name, tag in dic.items() if name == 'Ashulia Thana' ]

[2]

In [19]:
l = [1,3,5,6,7,8,5,7]

In [20]:
for name, tag in dic.items():
    for i in range(len(l)):
        if l[i] == tag:
            print(name)

Araihazar Thana
Austagram Thana
Baliakandi Thana
Baliakandi Thana
Bangabandhu Setu East Thana
Basail Thana
Basail Thana
Belabo Thana

In [22]:
district = {'Dhaka': 0,
 'Faridpur': 1,
 'Gazipur': 2,
 'Gopalganj': 3,
 'Kishoreganj': 4,
 'Madaripur': 5,
 'Manikganj': 6,
 'Munshiganj': 7,
 'Narayanganj': 8,
 'Narsingdi': 9,
 'Rajbari': 10,
 'Shariatpur': 11,
 'Tangail': 12}

In [23]:
dof = {'Friday': 0, 'Monday': 1, 'Saturday': 2, 'Sunday': 3, 'Thursday': 4, 'Tuesday': 5, 'Wednesday': 6}