In [1]:
import numpy as np
import pandas as pd

In [2]:
thana = {'Alfadanga Thana': 0, 'Araihazar Thana': 1, 
         'Ashulia Thana': 2, 'Austagram Thana': 3, 'Bajitpur Thana': 4, 'Baliakandi Thana': 5, 
         'Bangabandhu Setu East Thana': 6, 'Basail Thana': 7, 
         'Belabo Thana': 8, 'Bhairab Thana': 9, 'Bhanga Thana': 10, 'Bhedarganj Thana': 11, 'Bhuapur Thana': 12, 
         'Boalmari Thana': 13, 'Bondor Thana': 14, 'Charbhadrasan Thana': 15, 'Damudya Thana': 16, 'Dasar Thana': 17, 
         'Daulatpur Thana': 18, 'Delduar Thana': 19, 'Dhamrai Thana': 20, 'Dhanbari Thana': 21, 'Dohar Thana': 22, 
         'Faridpur Thana': 23, 'Fatullah Model Thana': 24, 'Gazaria Thana': 25, 'Ghatail Thana': 26, 'Ghior Thana': 27, 
         'Goalandaghat Thana': 28,
         'Gopalganj Thana': 29, 'Gopalpur Thana': 30, 'Goshairhat Thana': 31, 'Harirampur Thana': 32,
         'Hossainpur Thana': 33, 'Itna Thana': 34, 'Joydebpur Thana': 35, 'Kaliakair Thana': 36,
         'Kaliganj Thana': 37,
         'Kalihati Thana': 38, 'Kalkini Thana': 39, 'Kalukhali Thana': 40, 'Kapasia Thana': 41,
         'Karimganj Thana': 42, 
         'Kashiani Thana': 43, 'Katiadi Model Thana': 44, 'Keraniganj Model Thana': 45,
         'Kishoreganj Model Thana': 46, 
         'Kotalipara Thana': 47, 'Kotwali Thana': 48, 'Kuliarchar Thana': 49, 'Louhajong Thana': 50, 
         'Madaripur Thana': 51, 'Madhabdi Thana': 52, 'Madhukhali Thana': 53, 'Madhupur Thana': 54,
         'Manikganj Thana': 55, 'Mirzapur Thana': 56, 'Mithamain Thana': 57, 'Monohardi Thana': 58, 
         'Muksudpur Thana': 59, 'Munshiganj Thana': 60, 'Nagarkanda Model Thana': 61, 'Nagarpur Thana': 62, 
         'Narayanganj Model Thana': 63, 'Naria Thana': 64, 'Narsingdi Model Thana': 65, 'Narsingdi Thana': 66,
         'Nawabganj Thana': 67, 'Nikli Thana': 68, 'Pakundia Thana': 69, 'Palash Thana': 70,
         'Palong Model Thana': 71, 'Pangsha Model Thana': 72, 'Raipura Thana': 73, 'Rajbari Thana': 74, 
         'Rajoir Thana': 75, 'Rupganj Thana': 76, 'Sadarpur Thana': 77, 'Sakhipur Thana': 78, 
         'Saltha Thana': 79, 'Saturia Thana': 80, 'Savar Model Thana': 81, 'Shibaloy Thana': 82,
         'Shibchar Thana': 83, 'Shibpur Model Thana': 84, 'Siddhirganj Thana': 85, 'Singair Thana': 86,
         'Sirajdikhan Thana': 87, 'Sonargaon Thana': 88, 'South Keraniganj Thana': 89, 
         'Sreenagar Thana': 90, 'Sreepur Thana': 91, 'Tangail Thana': 92, 'Tarail Thana': 93, 
         'Tongi Thana': 94, 'Tongibari Thana': 95, 'Tungipara Thana': 96, 'Zajira Thana': 97}

In [3]:
district = {'Dhaka': 0,
 'Faridpur': 1,
 'Gazipur': 2,
 'Gopalganj': 3,
 'Kishoreganj': 4,
 'Madaripur': 5,
 'Manikganj': 6,
 'Munshiganj': 7,
 'Narayanganj': 8,
 'Narsingdi': 9,
 'Rajbari': 10,
 'Shariatpur': 11,
 'Tangail': 12}

In [4]:
dow = {'Friday': 0, 'Monday': 1, 'Saturday': 2, 'Sunday': 3, 'Thursday': 4, 'Tuesday': 5, 'Wednesday': 6}

In [5]:
month = {'January': 1,'February': 2,'March': 3,'April': 4,'May': 5,'June': 6,
         'July': 7,'August': 8,'September': 9,'October': 10,'November': 11, 'December': 12}

In [6]:
x_test = np.load('/home/jongli/Dropbox/project/NBM/test_x_new.npy')
y_test = np.load('/home/jongli/Dropbox/project/NBM/test_y_new.npy')
x_test.shape, y_test.shape

((140, 4), (140,))

In [7]:
df1 = pd.read_csv('/home/jongli/Dropbox/project/NBM/inference2/rf_new.csv')
df1.head()

   Index            Ground truth  rf_raw  rf_smote  rf_random
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

In [8]:
list_thana = []

for i in range(len(y_test)):
    list_thana.append(x_test[i,0])

print(len(list_thana))

df1['Police Station num'] = list_thana
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num
0                   9
1                  76
2                   2
3                  84
4                  64

In [9]:
list_district = []
for i in range(len(y_test)):
    list_district.append(x_test[i,1])

print(len(list_district))


df1['District num'] = list_district
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num
0                   9             4
1                  76             8
2                   2             0
3                  84             9
4                  64            11

In [10]:
list_dow = []
for i in range(len(y_test)):
    list_dow.append(x_test[i,2])
print(len(list_dow))

df1['DayOfWeek num'] = list_dow
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num  DayOfWeek num
0                   9             4              5
1                  76             8              6
2                   2             0              6
3                  84             9              1
4                  64            11              0

In [11]:
list_month = []
for i in range(len(y_test)):
    list_month.append(x_test[i,3])
print(len(list_month))

df1['Month num'] = list_month
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num  DayOfWeek num  Month num
0                   9             4              5          6
1                  76             8              6          2
2                   2             0              6          5
3                  84             9              1          1
4                  64            11              0          6

In [12]:
thana_list = []

for i in range(len(df1['Police Station num'])):
    for name, tag in thana.items():
        if tag == list_thana[i]:
            thana_list.append(name)
            
        
print(len(thana_list))    
df1['Police Station'] = thana_list
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num  DayOfWeek num  Month num  \
0                   9             4              5          6
1                  76             8              6          2
2                   2             0              6          5
3                  84             9              1          1
4                  64            11              0          6

        Police Station
0        Bhairab Thana
1        Rupganj Thana
2        Ashulia Thana
3  Shibpur Model Thana
4          Naria Thana

In [13]:
district_list = []

for i in range(len(df1['District num'])):
    for name, tag in district.items():
        if tag == list_district[i]:
            district_list.append(name)
            
        
print(len(district_list))    
df1['District'] = district_list
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num  DayOfWeek num  Month num  \
0                   9             4              5          6
1                  76             8              6          2
2                   2             0              6          5
3                  84             9              1          1
4                  64            11              0          6

        Police Station     District
0        Bhairab Thana  Kishoreganj
1        Rupganj Thana  Narayanganj
2        Ashulia Thana        Dhaka
3  Shibpur Model Thana    Narsingdi
4          Naria Thana   Shariatpur

In [14]:
dow_list = []

for i in range(len(df1['District num'])):
    for name, tag in dow.items():
        if tag == list_dow[i]:
            dow_list.append(name)
            
        
print(len(dow_list))    
df1['DayOfWeek'] = dow_list
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num  DayOfWeek num  Month num  \
0                   9             4              5          6
1                  76             8              6          2
2                   2             0              6          5
3                  84             9              1          1
4                  64            11              0          6

        Police Station     District  DayOfWeek
0        Bhairab Thana  Kishoreganj    Tuesday
1        Rupganj Thana  Narayanganj  Wednesday
2        Ashulia Thana        Dhaka  Wednesday
3  Shibpur Model Thana    Narsingdi     Monday
4          Naria Thana   Shariatpur     Friday

In [15]:
month_list = []

for i in range(len(df1['District num'])):
    for name, tag in month.items():
        if tag == list_month[i]:
            month_list.append(name)
            
        
print(len(month_list))    
df1['Month'] = month_list
print(df1.head())

140
   Index            Ground truth  rf_raw  rf_smote  rf_random  \
0      0  Violence Against Women   False      True       True
1      1  Violence Against Women   False      True       True
2      2  Violence Against Women   False      True       True
3      3  Violence Against Women   False      True       True
4      4  Violence Against Women   False      True       True

   Police Station num  District num  DayOfWeek num  Month num  \
0                   9             4              5          6
1                  76             8              6          2
2                   2             0              6          5
3                  84             9              1          1
4                  64            11              0          6

        Police Station     District  DayOfWeek     Month
0        Bhairab Thana  Kishoreganj    Tuesday      June
1        Rupganj Thana  Narayanganj  Wednesday  February
2        Ashulia Thana        Dhaka  Wednesday       May
3  Shibpur Model Thana    Narsingdi     Monday   January
4          Naria Thana   Shariatpur     Friday      June

In [16]:
df1.to_csv('rf_new_with_features.csv')

In [17]:
print("Sesh r nai!")

Sesh r nai!