In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing
import pickle

In [2]:
filename = 'raw_knn.sav'
x_test = np.load('/home/jongli/Dropbox/project/NBM/test_x.npy')
y_test = np.load('/home/jongli/Dropbox/project/NBM/test_y.npy')

# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.6689655172413793

In [3]:
def predict_set(filename, x, y):
    loaded_model = pickle.load(open(filename, 'rb'))
    result = loaded_model.score(x,y)
    return result

xx = predict_set(filename, x_test,y_test)
print(xx)

0.6689655172413793

In [35]:
yy = loaded_model.predict(x_test)

# yy = yy.argmax(axis = 1)

In [37]:
print(yy.shape)
y_arg = yy.argmax(axis = 1)
print(y_arg.shape)

(145, 5)
(145,)

In [38]:
y_test.shape

(145, 5)

In [39]:
y_arg2 = y_test.argmax(axis = 1)
y_arg2.shape

(145,)

In [40]:
print(y_arg2[1:20])
print(y_arg[1:20])

[2 1 2 2 2 2 2 1 2 0 2 3 2 2 4 2 2 2 4]
[2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [41]:
for i, j in zip(y_arg, y_arg2):
    print(i,j)

2 2
2 2
2 1
2 2
2 2
2 2
2 2
2 2
2 1
2 2
2 0
2 2
2 3
2 2
2 2
2 4
2 2
2 2
2 2
2 4
2 2
2 2
2 2
2 2
2 4
2 3
2 2
2 2
2 2
2 2
2 4
2 4
2 3
2 4
2 2
2 2
2 2
2 2
2 2
2 0
2 2
2 2
2 0
2 2
2 3
2 4
2 1
2 3
2 2
2 0
2 2
2 2
2 2
2 0
2 1
2 1
2 2
2 2
2 2
2 3
2 2
2 2
2 2
2 0
2 2
2 2
2 2
2 3
2 2
2 2
2 1
2 1
2 2
2 2
2 2
2 3
2 3
2 2
2 0
2 2
2 2
2 2
2 2
2 0
2 3
2 2
2 2
2 2
2 2
2 3
2 2
2 2
2 4
2 2
2 4
2 2
2 3
2 4
2 2
2 2
2 3
2 2
2 2
2 2
2 2
2 2
2 3
2 0
2 2
2 3
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 0
2 2
2 1
2 3
2 2
2 2
2 2
2 2
2 0
2 2
2 2
2 2
2 2
2 3
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 2
2 0
2 3
2 2
2 2

In [48]:
list_string = []
for i in range(len(y_arg2)):
    if y_arg[i] != y_arg2[i]:
        list_string.append("False")
    else:
        list_string.append("True")
    
len(list_string)

145

In [49]:
print(list_string[:10])

['True', 'True', 'False', 'True', 'True', 'True', 'True', 'True', 'False', 'True']

In [46]:
for i in range(1,10):
    print(list_string[i])

IndexError: list index out of range

In [50]:
import pandas as pd
df = pd.DataFrame(columns= ['Index', 'Ground truth', 'knn', 'rf', 'svm', 'pred'])

In [51]:
df.head()

Empty DataFrame
Columns: [Index, Ground truth, knn, rf, svm, pred]
Index: []

In [57]:
index = []
for i in range(0,145):
    index.append(i)
len(index)

145

In [59]:
index[50:145]

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144]

In [60]:
df['Index'] = index
df.head()

   Index Ground truth  knn   rf  svm pred
0      0          NaN  NaN  NaN  NaN  NaN
1      1          NaN  NaN  NaN  NaN  NaN
2      2          NaN  NaN  NaN  NaN  NaN
3      3          NaN  NaN  NaN  NaN  NaN
4      4          NaN  NaN  NaN  NaN  NaN

In [62]:
df['Ground truth'] = y_arg2

In [63]:
df.head()

   Index  Ground truth  knn   rf  svm pred
0      0             2  NaN  NaN  NaN  NaN
1      1             2  NaN  NaN  NaN  NaN
2      2             1  NaN  NaN  NaN  NaN
3      3             2  NaN  NaN  NaN  NaN
4      4             2  NaN  NaN  NaN  NaN