In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing
import pickle

In [2]:
x_test = np.load('/home/jongli/Dropbox/project/NBM/test_x.npy')
y_test = np.load('/home/jongli/Dropbox/project/NBM/test_y.npy')
x_test.shape, y_test.shape

((145, 4), (145, 5))

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
#svm_train = accuracy_score(y_train.argmax(axis = 1), svm_clf.predict(x_train))
svm_test = accuracy_score(y_test.argmax(axis = 1), svm_pred)
svm_train, svm_test

In [5]:
filename1 = './model/raw_knn.sav'
filename2 = './model/raw_rf.sav'
filename3 = './model/raw_svm.sav'

In [6]:
knn = pickle.load(open(filename1, 'rb'))
rf = pickle.load(open(filename2, 'rb'))
svm = pickle.load(open(filename3, 'rb'))

In [7]:
type(knn)

sklearn.neighbors.classification.KNeighborsClassifier

In [8]:
knn_pred = knn.predict(x_test)
rf_pred = rf.predict(x_test)
svm_pred = svm.predict(x_test)
knn_pred.shape, rf_pred.shape, svm_pred.shape

((145, 5), (145, 5), (145,))

In [9]:
knn_pred = knn_pred.argmax(axis = 1)
rf_pred = rf_pred.argmax(axis = 1)
knn_pred.shape, rf_pred.shape

((145,), (145,))

In [11]:
y_test = y_test.argmax(axis = 1)

In [12]:
knn_pred.shape, rf_pred.shape, svm_pred.shape, y_test.shape

((145,), (145,), (145,), (145,))

In [13]:
print(knn_pred[:10])
print(rf_pred[:10])
print(svm_pred[:10])
print(y_test[:10])

[2 2 2 2 2 2 2 2 2 2]
[2 2 2 2 2 2 2 2 2 2]
[2 2 2 2 2 2 2 2 2 2]
[2 2 1 2 2 2 2 2 1 2]

In [14]:
knn_str = []
rf_str = []
svm_str = []

In [15]:
for i in range(len(knn_pred)):
    if y_test[i] != knn_pred[i]:
        knn_str.append("False")
    else:
        knn_str.append("True")
    
len(knn_str)

145

In [17]:
for i in range(len(rf_pred)):
    if y_test[i] != rf_pred[i]:
        rf_str.append("False")
    else:
        rf_str.append("True")
    
len(rf_str)

145

In [18]:
for i in range(len(svm_pred)):
    if y_test[i] != svm_pred[i]:
        svm_str.append("False")
    else:
        svm_str.append("True")
    
len(svm_str)

145

In [19]:
import pandas as pd
df = pd.DataFrame(columns= ['Ground truth', 'knn', 'rf', 'svm'])

In [20]:
df['knn'] = knn_str
df['rf'] = rf_str
df['svm'] = svm_str
df.head(15)

   Ground truth    knn     rf    svm
0           NaN   True   True   True
1           NaN   True   True   True
2           NaN  False  False  False
3           NaN   True   True   True
4           NaN   True   True   True
5           NaN   True   True   True
6           NaN   True   True   True
7           NaN   True   True   True
8           NaN  False  False  False
9           NaN   True   True   True
10          NaN  False  False  False
11          NaN   True   True   True
12          NaN  False  False  False
13          NaN   True   True   True
14          NaN   True   True   True

In [24]:
cat_str = []
for i in range(len(y_test)):
    if y_test[i] == 0:
        cat_str.append('Gang Rape')
    elif y_test[i] == 1:
        cat_str.append('Kidnap')
    elif y_test[i] == 2:
        cat_str.append('Murder')
    elif y_test[i] == 3:
        cat_str.append('Robbery')
    elif y_test[i] == 4:
        cat_str.append('Violence Against Women')
        
len(cat_str)

145

In [25]:
print(cat_str[:15])
print(y_test[:15])

['Murder', 'Murder', 'Kidnap', 'Murder', 'Murder', 'Murder', 'Murder', 'Murder', 'Kidnap', 'Murder', 'Gang Rape', 'Murder', 'Robbery', 'Murder', 'Murder']
[2 2 1 2 2 2 2 2 1 2 0 2 3 2 2]

In [26]:
df.head()

  Ground truth    knn     rf    svm
0          NaN   True   True   True
1          NaN   True   True   True
2          NaN  False  False  False
3          NaN   True   True   True
4          NaN   True   True   True

In [30]:
df['Ground truth'] = cat_str

In [31]:
df.head()

  Ground truth    knn     rf    svm
0       Murder   True   True   True
1       Murder   True   True   True
2       Kidnap  False  False  False
3       Murder   True   True   True
4       Murder   True   True   True

In [32]:
df.to_csv('raw_data.csv')